#popup{
    width:500px;
    height:500px;
    background: #ffffff;
    left:20%;
    top:15%;
    z-index: 9;
    position: absolute;

    border: 2px solid black;
}
#popup>#img-area{
    width:500px;
    height:450px;
}
#popup>#img-area>img{
    width:500px;
    height:450px;
}
#popup>#check-area{
    width:500px;
    height:50px;
}
#popup>#check-area>div{
    float:left;
}

#popup>#check-area>div:first-child{
    width:45%;
    height:50px;
    background-color: aqua;
    font-size: 20px;
}
#popup>#check-area>div:nth-child(2){
    width:45%;
    height:50px;
    background-color: burlywood;
    font-size: 20px;
}
#popup>#check-area>div:nth-child(3){
    width:10%;
    height:50px;
    background-color: cadetblue;
}
#popup>#check-area>div:nth-child(3)>span{
    font-size:20px;
    font-weight: bold;
    text-align: center;
    width:35px;
    height:35px;
    border:2px solid black;
    box-sizing: border-box;
    display:block;
}
